/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.asked-question {
    position:fixed;
    top: 0;
    width: 100%;
    opacity: .2;
    height: 4.5em;
}

.fixed-button {
    position:fixed;
    right: 1em;
    bottom: 1em;
    width: 14em;
}

.fixed-footer {
    position:fixed;
    bottom: 0em;
}

.fixed-footer-left {
    left: 1em; 
}

.waiting-on {
    width: 14em;
}

.classroom-img {
    width: 5em;
    height: 5em;
}
