{% extends 'site_base.html' %}
{% load static %}
{% load materialize %}

{% block content %}

<h3>{{ classroom.name }}</h3>
{% if object_list %}
  <div class="row">
  {% for assignment in object_list %}
        <div class="col s12 m6">
          <div class="card grey lighten-4">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ assignment.name }}
                    {% if not choose %}
                        <i class="material-icons right">more_vert</i>
                    {% endif %}
                </span>

                <br>
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                  <div class="collapsible-header">{{ assignment.question_set.count }} Question{% if assignment.question_set.count != 1 %}s{% endif %}</div>
                    <div class="collapsible-body">
                        <table class="bordered striped">
                            {% for question in assignment.question_set.all %}
                                <tr>
                                    <td>{{ question.question }}</td>
                                    {% if not choose %}
                                    <td><a href="{% url 'delete-question' question_pk=question.pk %}" class="btn btn-floating"><i class="material-icons">delete</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                  </li>
                </ul>

            </div>

            {% if not choose %}
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ assignment.name }}<i class="material-icons right">close</i></span>
                <p><a href="{% url 'delete-assignment' assignment_pk=assignment.pk %}" class="btn grey darken-1">Delete</a></p>
            </div>
            {% endif %}

            <div class="card-action">
                {% if not choose %}
                <a href="{% url 'question-create' assignment_pk=assignment.pk %}" class="btn">Add Question</a>
                {% else %}
                <a href="{% url 'start-assignment' assignment_pk=assignment.pk classroom_pk=classroom.pk question_index=0 %}" class="btn">Start Assignment</a>
                {% endif %}
            </div>

          </div>
        </div>
  {% endfor %}
  </div>
{% else %}
  <div class="row">
        <div class="col s12 m6">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <span class="card-title">Create Assignment</span>
                        <div class="card-action">
                            <center>
                                <a class="btn-floating btn-large red" href="{% url 'assignment-create' %}">
                                    <i class="large material-icons">add</i>
                                </a>
                            <center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if not choose %}
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="{% url 'assignment-create' %}">
      <i class="large material-icons">add</i>
    </a>
</div>
{% endif %}

{% endblock %}
