{% extends 'site_base.html' %}
{% load static %}
{% load materialize %}
{% load l10n %}


{% block content %}
  <div class="row">
        <div class="col s12">
            <div class="card grey lighten-4">
                <div class="card-content">
                    {% localize on %}
                    <span class="card-title"><b>{{ classroom.name }}</b> Attendance: {% now "DATE_FORMAT" %}</span>
                    {% endlocalize %}
                    <br>
                    <p>Uncheck students that are not in class.</p>
                    <form method="POST" action="{% url 'attendance' classroom_pk=classroom.pk %}">
                        {% csrf_token %}
                        {{ form|materialize }}

                        <div class="fixed-action-btn">
                          <button class="btn-floating btn-large red" href="{% url 'attendance' classroom_pk=classroom.pk %}">
                            <i class="large material-icons">done</i>
                          </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>



{% endblock %}
