{% extends 'site_base.html' %}
{% load static %}
{% load materialize %}

{% block content %}
{% if classrooms %}
  <div class="row">
  {% for classroom in classrooms %}
        <div class="col s12 m4">
          <div class="card grey lighten-4">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ classroom.name}}<i class="material-icons right">more_vert</i></span>
                <p>{{ classroom.school }}</p>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ classroom.name }}<i class="material-icons right">close</i></span>
                <p><a href="{% url 'view-answers' classroom_pk=classroom.pk %}" class="btn">View Answers</a></p>
                <p><a href="{% url 'download-attendance' classroom_pk=classroom.pk %}" class="btn">Download Attendance</a></p>
                <p><a href="{% url 'student-create' classroom_pk=classroom.pk %}" class="btn">Add Students</a></p>
                <p><a href="{% url 'classroom-delete' classroom_pk=classroom.pk %}" class="btn grey darken-1">Delete</a></p>
            </div>

            <div class="card-action">
                {% if classroom.student_set.count == 0 %}
                    <center><a style="width:100%" href="{% url 'student-create' classroom_pk=classroom.pk %}" class="btn">Add Students</a></center>
                {% else %}
                    <center><a style="width:100%" href="{% url 'attendance' classroom_pk=classroom.pk %}" class="btn">Take Role</a></center>
                {% endif %}
                <br>

                <a style="width: 100%" class="btn" href="{% url 'choose-assignment' classroom_pk=classroom.pk %}">Start Assignment</a>
            </div>

          </div>
        </div>
  {% endfor %}
  </div>
{% else %}
  <div class="row">
        <div class="col s12 m3">
            <div class="card grey lighten-4">
                <div class="card-content">
                    <span class="card-title">Create classroom</span>
                        <div class="card-action">
                            <center>
                                <a class="btn-floating btn-large red" href="{% url 'classroom-create' %}">
                                    <i class="large material-icons">add</i>
                                </a>
                            <center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="{% url 'classroom-create' %}">
      <i class="large material-icons">add</i>
    </a>
</div>
{% endblock %}
