{% extends 'site_base.html' %}
{% load static %}
{% load materialize %}


{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
          <li class="tab col s3"><a href="#questions" class="flow-text active"><h6><i class="material-icons left">forum</i>QUESTIONS</h6></a></li>
          <li class="tab col s3"><a href="#students" class="flow-text active"><h6><i class="material-icons left">assignment_ind</i>STUDENTS</h6></a></li>
      </ul>

      <div id="questions" class="col s12 grey lighten-4 z-depth-2">
          <div class="row"></div>
          <div class="row">
              <div class="col s12 m6 offset-m3"><center><h5>Create your Next Question</h5></center></div>
              <div class="col s12 m6 offset-m3">
                <center>
                    <a class="btn-floating btn-large red" href="{% url 'question-create' classroom_pk=classroom.pk %}">
                        <i class="large material-icons">add</i>
                    </a>
                </center>
              </div>
          </div>
          <div class="row"></div>

          {% if questions %}
          <table class="table bordered highlight">
              <thead>
                  <tr>
                      <th>Question</th>
                      <th></th>
                  </tr>
              </thead>

              <tbody>
                  {% for question in questions %}
                  <tr>
                      <td><h6 class="flow-text">{{ question.question }}</h6></td>
                      <td>
                        <a class='dropdown-button btn right' href='#' data-activates='dropdown-question-{{ question.pk}}' style="width: 11em">
                            <i class="material-icons left">mode_edit</i>Manage
                        </a>

                        <ul id='dropdown-question-{{ question.pk}}' class='dropdown-content'>
                          <li><a href="{% url 'answer-question' question_pk=question.pk %}">Ask Question</a></li>
                          <li class="divider"></li>
                          <li><a href="#!">View Answers</a></li>
                          <li class="divider"></li>
                          <li><a href="#!">Edit</a></li>
                          <li><a href="#!">Delete</a></li>
                        </ul>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
        </div>

      <div id="students" class="col s12 grey lighten-4 z-depth-2">
          <div class="row"></div>
          <div class="row">
              <div class="col s12 m6 offset-m3"><center><h5>Add Students to this Classroom</h5></center></div>
              <div class="col s12 m6 offset-m3">
                <center>
                    <a class="btn-floating btn-large red" href="{% url 'student-create' classroom_pk=classroom.pk %}">
                        <i class="large material-icons">add</i>
                    </a>
                </center>
              </div>
          </div>
          <div class="row"></div>
          {% if students %}
          <table class="table bordered highlight">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Phone</th>
                      <th></th>
                  </tr>
              </thead>

              <tbody>
                  {% for student in students %}
                  <tr>
                      <td><h6 class="flow-text">{{ student.name }}</h6></td>
                      <td><h6 class="flow-text">{{ student.phone }}</h6></td>
                      <td>
                        <a class='dropdown-button btn right' href='#' data-activates='dropdown-student-{{ student.pk}}' style="width: 11em">
                            <i class="material-icons left">mode_edit</i>Manage
                        </a>

                        <ul id='dropdown-student-{{ student.pk }}' class='dropdown-content'>
                            <li><a href="{% url 'student-update' pk=student.pk %}">Edit</a></li>
                          <li><a href="#!">Delete</a></li>
                        </ul>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>

    </div>
  </div>
{% endblock %}
