{% extends 'site_base.html' %}
{% load static %}
{% load materialize %}


{% block content %}
  <div class="row">
      <div class="col s12">
          <center>
              <h5>Hello students! Welcome to {{ classroom.name }}. Text your <b>name</b> to</h5>
              <h3>{{ sms_number }}</h3>
          </center>
  <div class="row">
      <div class="col s12 grey lighten-4 z-depth-2">
          <table id="students-table" class="table bordered highlight">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Phone</th>
                  </tr>
              </thead>

              <tbody>
                {% for student in students %}
                <tr id="student-{{ student.pk }}">
                    <td><h6 id="student-name" class="flow-text">{{ student.name }}</h6></td>
                    <td><h6 id="student-phone" class="flow-text">{{ student.phone }}</h6></td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="{% url 'dashboard' %}">
      <i class="large material-icons">done</i>
    </a>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/students/{{ classroom.pk }}/');

    var tableId = "#students-table";

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      console.log(data);
      if (Object.keys(data).indexOf('is_logged_in') > -1) { return };

      var row = $("#student-" + data.pk);
      if (row.length > 0) {
        row.find(".student-name").text(data.name);
        row.find(".student-phone").text(data.phone);
      } else {
        var newRow = '<tr id="student-' + data.pk + '"><td><h6 id="student-name" class="flow-text">' + data.name + '</h6></td>';
        newRow += '<td><h6 id="student-phone" class="flow-text">' + data.phone + '</h6></td>';
        $(tableId + ' > tbody:last-child').append(newRow);
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script> 
{% endblock %}
